In [1]:
# Dependencies
import pandas as pd
import numpy as np
import json
import os

In [2]:
# import Data
json_path='C:\\Users\\Magdy Gad\\Desktop\\GW\\09-12-2017-GW-Arlington-Class-Repository-DATA\\Homework\\Week04\\Generators\\HeroesOfPymoli\\generated_data\\purchase_data.json'
p_data_df=pd.read_json(json_path)
p_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
import os
os.getcwd()

'C:\\Users\\Magdy Gad\\Desktop\\GW\\09-12-2017-GW-Arlington-Class-Repository-DATA\\Homework\\week04\\Generators\\HeroesOfPymoli\\generated_data'

In [11]:
# total numbers of players
player_count=p_data_df['SN'].count()
p_data_df["SN"].count()

780

In [12]:
#Purchasing Analysis (Total)
#Number of Unique items
unique_items= len(p_data_df["Item Name"].unique())
unique_items

179

In [6]:
#Average Purchase price
avg_purchase=p_data_df['Price'].mean()
avg_purchase

2.931192307692303

In [7]:
#Total# of Purchases
total_purchases=p_data_df['Item Name'].count()
total_purchases

780

In [8]:
#Total Revenue
total_revenue=p_data_df['Price'].sum()
total_revenue

2286.3299999999963

In [9]:
#Gender Demographics
#Count of Male players
male=p_data_df['Gender'].value_counts()['Male']
male

633

In [13]:
#percentage of Male players
male_percentage=(male/player_count)*100
male_percentage

81.15384615384616

In [14]:
#Gender Demographics
#Count of Female players
Female=p_data_df['Gender'].value_counts()['Female']
Female

136

In [15]:
#percentage of Female players
Female_percentage=(Female/player_count)*100
Female_percentage

17.435897435897434

In [16]:
#Gender Demographics
#Count of Other/Non-disclosed players
Non_disclosed=p_data_df['Gender'].value_counts()
Non_disclosed

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [17]:
other_ND= player_count- male-Female
other_ND

11

In [18]:
other_ND_Percentage=(other_ND/player_count)*100
other_ND_Percentage

1.4102564102564104

In [19]:
#purchasing Analysis
#by Gender
#Male
male_df=p_data_df.loc[p_data_df["Gender"]=="Male"]
male_df.head()
male_pc=male_df["Item Name"].count()
print(f"male_pc:{male_pc}")
avg_pur_count_male=male_df["Price"].mean()
print(f"avg_pur_count_male:{avg_pur_count_male}")
total_Pur_value=male_df["Price"].sum()
print(f"total_Pur_value:{total_Pur_value}")
male_NP= np.std(avg_pur_count_male)
print(f"male_NP:{male_NP}")

male_pc:633
avg_pur_count_male:2.9505213270142154
total_Pur_value:1867.6799999999985
male_NP:0.0

In [20]:
#purchasing Analysis
#by Gender
#Female
Female_df=p_data_df.loc[p_data_df["Gender"]=="Female"]
Female_df.head()
Female_pc=Female_df["Item Name"].count()
print(f"Female_pc:{Female_pc}")
avg_pur_count_Female=Female_df["Price"].mean()
print(f"avg_pur_count_Female:{avg_pur_count_Female}")
total_Pur_value=Female_df["Price"].sum()
print(f"total_Pur_value:{total_Pur_value}")
Female_NP= np.std(avg_pur_count_Female)
print(f"Female_NP:{Female_NP}")

Female_pc:136
avg_pur_count_Female:2.815514705882352
total_Pur_value:382.90999999999985
Female_NP:0.0