In [31]:
#Dependencies
import pandas as pd
import numpy as np
import json
import os

In [33]:
#import data
json_path = "purchase_data.json"
p_data_df = pd.read_json(json_path)
p_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [34]:
#p_data_df.describe()
player_count=p_data_df["SN"].count()

In [22]:
#Purchasing Analysis (Total)
#Number of Unique items
unique_items= len(p_data_df["Item Name"].unique())
unique_items

179

In [35]:
#Average Purchase price
avg_purchase=p_data_df['Price'].mean()
avg_purchase#purchasing Analysis
#by Gender
#Male
male_df=p_data_df.loc[p_data_df["Gender"]=="Male"]
male_df.head()
male_pc=male_df["Item Name"].count()
print(f"male_pc:{male_pc}")
avg_pur_count_male=male_df["Price"].mean()
print(f"avg_pur_count_male:{avg_pur_count_male}")
total_Pur_value=male_df["Price"].sum()
print(f"total_Pur_value:{total_Pur_value}")
male_NP= np.std(avg_pur_count_male)
print(f"male_NP:{male_NP}")

male_pc:633
avg_pur_count_male:2.9505213270142154
total_Pur_value:1867.6799999999985
male_NP:0.0

In [24]:
#Total# of Purchases
total_purchases=p_data_df['Item Name'].count()
total_purchases

780

In [25]:
#Total Revenue
total_revenue=p_data_df['Price'].sum()
total_revenue

2286.3299999999963

In [26]:
#Gender Demographics
#Count of Male players
male=p_data_df['Gender'].value_counts()['Male']
male

633

In [27]:
#percentage of Male players
male_percentage=(male/player_count)*100
male_percentage

81.15384615384616

In [28]:
#Gender Demographics
#Count of Female players
Female=p_data_df['Gender'].value_counts()['Female']
Female

136

In [29]:
#percentage of Female players
Female_percentage=(Female/player_count)*100
Female_percentage

17.435897435897434

In [16]:
#Age demographics
#Create the bins in which data will be held
bins= [0, 25, 50, 75, 100]
#create names of the four bins
age_bin_value = [0, 9, 14, 19, 24, 29, 34, 39, 44, 100]
age_bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45<']
p_data_df["Age Demographics"]= pd.cut(p_data_df["Age"], age_bin_value, labels=age_bin_names)
demographic_group = p_data_df.groupby("Age Demographics")
print(demographic_group["Item Name"].count())
print((demographic_group["Price"].mean()))
print((demographic_group["Price"].sum()))

Age Demographics
<10       28
10-14     35
15-19    133
20-24    336
25-29    125
30-34     64
35-39     42
40-44     16
45<        1
Name: Item Name, dtype: int64
Age Demographics
<10      2.980714
10-14    2.770000
15-19    2.905414
20-24    2.913006
25-29    2.962640
30-34    3.082031
35-39    2.842857
40-44    3.189375
45<      2.720000
Name: Price, dtype: float64
Age Demographics
<10       83.46
10-14     96.95
15-19    386.42
20-24    978.77
25-29    370.33
30-34    197.25
35-39    119.40
40-44     51.03
45<        2.72
Name: Price, dtype: float64

In [17]:
#Gender Demographics
#Count of Other/Non-disclosed players
Non_disclosed=p_data_df['Gender'].value_counts()
Non_disclosed

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [18]:
other_ND= player_count- male-Female
other_ND

11

In [19]:
other_ND_Percentage=(other_ND/player_count)*100
other_ND_Percentage

1.4102564102564104

In [30]:
#purchasing Analysis
#by Gender
#Male
male_df=p_data_df.loc[p_data_df["Gender"]=="Male"]
male_df.head()
male_pc=male_df["Item Name"].count()
print(f"male_pc:{male_pc}")
avg_pur_count_male=male_df["Price"].mean()
print(f"avg_pur_count_male:{avg_pur_count_male}")
total_Pur_value=male_df["Price"].sum()
print(f"total_Pur_value:{total_Pur_value}")
male_NP= np.std(avg_pur_count_male)
print(f"male_NP:{male_NP}")

male_pc:633
avg_pur_count_male:2.9505213270142154
total_Pur_value:1867.6799999999985
male_NP:0.0

In [36]:
#purchasing Analysis
#by Gender
#Female
Female_df=p_data_df.loc[p_data_df["Gender"]=="Female"]
Female_df.head()
Female_pc=Female_df["Item Name"].count()
print(f"Female_pc:{Female_pc}")
avg_pur_count_Female=Female_df["Price"].mean()
print(f"avg_pur_count_Female:{avg_pur_count_Female}")
total_Pur_value=Female_df["Price"].sum()
print(f"total_Pur_value:{total_Pur_value}")
Female_NP= np.std(avg_pur_count_Female)
print(f"Female_NP:{Female_NP}")

Female_pc:136
avg_pur_count_Female:2.815514705882352
total_Pur_value:382.90999999999985
Female_NP:0.0

In [37]:
#Top Spenders
sn_price=p_data_df.groupby(["SN"])['Price'].sum()
sn_pur=p_data_df.groupby(["SN"])['Price'].count()
sn_users=p_data_df.groupby(["SN"])
avg_sn= sn_price/sn_pur

top_sn=pd.DataFrame({"Purchase Count": sn_pur, "Average Purchase Price":avg_sn, "Total Purchase Value":sn_price})
top_sn= top_sn.sort_values("Total Purchase Value", ascending=False)
top_sn= top_sn[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

top_sn.reset_index(inplace=True)
top_sn.round(2)
top_sn.head()

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0  Undirrala66               5                3.412000                 17.06
1     Saedue76               4                3.390000                 13.56
2  Mindimnya67               4                3.185000                 12.74
3   Haellysu29               3                4.243333                 12.73
4       Eoda93               3                3.860000                 11.58

In [38]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

by_itemid = p_data_df.groupby('Item ID')
pur_by_item = pd.DataFrame(by_itemid['Item ID'].count()) 
#counts occurance of item ID by grouping by item ID
pur_by_item.rename(columns = {"Item ID": "Number of Items Sold"}, inplace = True)
pur_by_item
ttlpchsvlu = pd.DataFrame(by_itemid['Price'].sum())

In [39]:
# sums Price grouped by item ID
ttlpchsvlu.rename(columns = {"Price": "Revenue"}, inplace =True)


no_dup_items = p_data_df.drop_duplicates('Item ID')

ttlpchsvlu
top5_pop = no_dup_items.merge(pur_by_item, left_on = "Item ID", right_index = True)
top5_pop = top5_pop.merge(ttlpchsvlu, left_on = "Item ID", right_index = True)
top5_pop = top5_pop[['Item ID', "Item Name", "Price", "Number of Items Sold", "Revenue"]]
top5_pop.sort_values("Number of Items Sold", ascending = False, inplace = True)
top5_pop = top5_pop.iloc[0:6][:] 
# Instead of top 5 did top six because 4 items had sales of 9 items each
top5_pop

,Item ID,Item Name,Price,Number of Items Sold,Revenue
61,39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
116,84,Arcane Gem,2.23,11,24.53
81,175,Woeful Adamantite Claymore,1.24,9,11.16
35,13,Serenity,1.49,9,13.41
56,31,Trickster,2.07,9,18.63
57,34,Retribution Axe,4.14,9,37.26

In [40]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
top5_prof = no_dup_items.merge(pur_by_item, left_on = "Item ID", right_index = True)
top5_prof = top5_prof.merge(ttlpchsvlu, left_on = "Item ID", right_index = True)
top5_prof = top5_prof[['Item ID', "Item Name", "Number of Items Sold", "Price", "Revenue"]]
top5_prof.sort_values("Revenue", ascending = False, inplace = True)
top5_prof.head()

     Item ID                   Item Name  Number of Items Sold  Price  Revenue
57        34             Retribution Axe                     9   4.14    37.26
107      115  Spectral Diamond Doomblade                     7   4.25    29.75
50        32                     Orenmir                     6   4.95    29.70
100      103              Singed Scalpel                     6   4.87    29.22
164      107   Splitter, Foe Of Subtlety                     8   3.61    28.88